.panel
	.panel-heading.border.pb45
		.pull-left.mt7 Supplier Item Prices
		.pull-right
			= link_to "<i class='icon-glyph-164 f14 mr5'></i> Add Item Price".html_safe, new_supplier_path, class: "btn btn-success btn-round btn-outline", remote: true
/ 	.panel-body
/ 		- if current_client.suppliers.not_deleted.empty?
/ 			.alert.alert-info role="alert"
/ 				.row
/ 					.col-xs-1.text-right
/ 						i.icon-glyph-73.f25
/ 					.col-xs-11
/ 						| Oops! You curently have no suppliers.<br> To start adding suppliers click&nbsp;
/ 						b "Add Supplier"
/ 						| &nbsp;button
/ 		- else
/ 			.no-more-tables
/ 				table.table.table-bordered.table-striped.mb0 data-sortable="true"
/ 					thead
/ 						tr.bg-thead
/ 							th width="310" Supplier
/ 							th width="300" Person to Contact
/ 							th width="300" Mobile no
/ 							th width="90" data-sortable="false" Action
/ 					tbody
/ 						- @suppliers.each do |supplier|
/ 							tr
/ 								td data-title="Name" = supplier.name
/ 								td data-title="Person to Contact" = supplier.contact_person
/ 								td data-title="Mobile No" = supplier.mobile_no
/ 								td.action data-title="Action"
/ 									- if view_access_control('suppliers','update')
/ 										= link_to "<i class='icon-glyph f14'></i>".html_safe, edit_supplier_path(supplier), class: "btn btn-default btn-xs mb10 mr2", data: { tt: "tooltip", placement: "top", "original-title" => "Edit" }, remote: true
/ 									- if view_access_control('suppliers','destroy')
/ 										= link_to "<i class='icon-glyph-76 f14'></i>".html_safe, supplier_path(supplier), method: :delete, class: "btn btn-default btn-xs mb10 swal-warning-confirm", data: { tt: "tooltip", placement: "top", "original-title" => "Delete", confirm: "Are you sure?" }
/ 									- if view_access_control('suppliers','create')
/ 										= link_to "<i class='icon-glyph-4 f14'></i>".html_safe, supplier_path(supplier), class: "btn btn-default btn-xs mb10 swal-warning-confirm", data: { tt: "tooltip", placement: "top", "original-title" => "View Item Pricing" }

= render "partials/modal"
