<!DOCTYPE html>
<html>
    <head>
        <title>Purchase Order</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <#%= stylesheet_link_tag 'pdf.css' %>
        <%= stylesheet_link_tag 'style.css' %>
    </head>
    <body id='pdf-body'>
        <div class='pdf-container'>
            
            <h5>Items Purchased</h5>
            <table class='table table-bordered table-striped mb0'>
                <thead>
                    <tr class='bg-thead'>
                        <th>Item Name</th>
                        <th>Packaging</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>Unit Price</th>
                        <th>Total Amount</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </body>
</html>s