.flash-notice
	.col-xs-12.col-sm-4.col-md-4.col-lg-4.pull-right
		- if notice
			.alert.alert-success role="alert"
				= notice
				/ button.close data-dismiss="alert" aria-label="Close" aria-hidden="true"
				/ 	i.icon-maxicons1-exit
		- if alert
			.alert.alert-danger role="alert"
				= alert
				button.close data-dismiss="alert" aria-label="Close" aria-hidden="true"
					i.icon-maxicons1-exit

/ .flash-notice
/ 	.col-xs-12.col-sm-4.col-md-4.col-lg-4.pull-right
/ 		- if notice
/ 			- if notice.class == String
/ 				.alert.alert-success role="alert"
/ 					= notice
/ 					button.close data-dismiss="alert" aria-label="Close" aria-hidden="true"
/ 						i.icon-maxicons1-exit
/ 			- else
/ 				- notice.each do |n|
/ 					.alert.alert-success role="alert"
/ 						= n
/ 						button.close data-dismiss="alert" aria-label="Close" aria-hidden="true"
/ 							i.icon-maxicons1-exit
/ 		- if alert
/ 			- if alert.class == String
/ 				.alert.alert-danger role="alert"
/ 					= alert
/ 					button.close data-dismiss="alert" aria-label="Close" aria-hidden="true"
/ 						i.icon-maxicons1-exit
/ 			- else
/ 				- alert.each do |a|
/ 					.alert.alert-danger role="alert"
/ 						= a
/ 						button.close data-dismiss="alert" aria-label="Close" aria-hidden="true"
/ 							i.icon-maxicons1-exit