p
	= page_entries_info collection, renderer: BootstrapPagination::Rails
= will_paginate collection, renderer: BootstrapPagination::Rails, previous_label: "←", next_label: "→", params: { show: per_page }