h1 Labor Hours Entries
/ table
/ 	thead
/ 		tr
/ 			th Working Date
/ 			th Regular
/ 			th Overtime
/ 			th Night Differential
/ 			th Legal Holiday
/ 			th Special Holiday
/ 			th Absent
/ 			th Late
/ 			th Rest Day
/ 	tbody
/ 		- @labor_hours_entries.each do |lhe|
/ 			tr
/ 				td = lhe.working_date
/ 				td = lhe.regular
/ 				td = lhe.overtime
/ 				td = lhe.night_differential
/ 				td = lhe.legal_holiday
/ 				td = lhe.special_holiday
/ 				td = lhe.absent
/ 				td = lhe.late
/ 				td = lhe.rest_day