doctype XML
workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet" xmlns:html="http://www.w3.org/TR/REC-html40" xmlns:do="urn:schemas-microsoft-com:office:office" xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet" xmlns:x="urn:schemas-microsoft-com:office:excel" 
  worksheet ss:name="Sheet1" 
    table
      row
        cell
          data ss:type="String" 
            strong BRAND
        cell
          data ss:type="String"  
	          = current_brand.name 
        cell
          data ss:type="String" 
