var select = $('#unit');
select.empty();	
<% if @unit.nil? %>
	$('#unit').append("<option>No specified unit yet</option>");
<% else %>
	$('#unit').append("<option value='<%= @unit.id %>'><%= @unit.name %></option>");
<% end %>

$('#packaging').val("<%= @packaging %>")

<% if @supplier_unit.nil? || @unit.nil? %>
	$('#purchase_order_item_quantity').prop( 'readonly', true )
<% end %>
	
