<% if @controller == 'purchase_items' %>
	var select = $('#purchase_item_unit_id');
	select.empty();	
	<% if @unit.nil? %>
		select.append("<option>No Specified Unit Yet</option>");
	<% else %>
		select.append("<option value='<%= @unit.id %>'><%= @unit.name %></option>");
	<% end %>
	
<% elsif @controller == 'supplier_item_prices'%>
	$('#supplier-unit').val('<%= @unit %>')
<% end %>