
- content_for :title, "Restobot | Profit and Loss"
= render 'customer'

= render 'revenue_cogs_gross'

= render 'base_wages'

= render 'employee_fringe_expense'

= render 'controllable_expenses'

= render 'non_controllable_expenses'
