default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: restobot-v4_development

test:
  <<: *default
  database: restobot-v4_test
