$('#modal h4').html("Branch list | <span class='<%= @color %>'><%= free_trial_subscription.plan.name %> <%= @label %></span>");

$('.modal-body').html('<%= j render("show_branches") %>');

$('#modal').modal("show");