
.activities-container {
    min-width: 200px;
    overflow-x: auto;
}
.activities-container, .history-log{
    
    .fetching-activities{
        margin-left: 50%;
        margin-top: 50;
        i { color: $blue }
    }
    .activities-list{
        overflow: hidden;
        max-height: 340px;
    }
    .activities-list, .history-logs{    
        list-style: none;
        padding: 0;
        .load-more {
          text-align: center;
        }

        .avatar-image {
            margin-right: 10px;
            vertical-align: baseline;
            margin-left: -5px;
            margin-top: 1.5px;
        }
        li.activity-item-link {
            display: block;
            padding: 8px 0;
            &:hover {
                background-color: $light-blue;
            }
        }
        .activity-item{
            max-width: 300px;
            word-break: break-word;
        }
        li.activity-item-link > a {
            color: $font-black;
            display: block;
            padding: 3px 0 3px 20px;
            clear: both;
            white-space: nowrap;
            font-weight: normal;
            transition: color 200ms;
            font-size: 12px;
        }
        .activity-metadata{            
            display: inline-block;
            word-wrap: break-word;
            width: 300px;
        }
    }
    
}