.btn-back{
    color: tomato;
    background-color: transparent;
    border: solid 1px tomato;
    border-radius: 3px;
    font-size: 15px;
}
div.button-container{
    margin-bottom: 10px;
    margin-top: 10px;
    p.sale-report{
        display: none;
        &.show-link{ display: block }
    }
}