.btn-back{
    color: tomato;
    background-color: transparent;
    border: solid 1px tomato;
    border-radius: 3px;
    font-size: 15px;
}
div.button-container{
    margin-bottom: 10px;
    margin-top: 10px;
    p.sale-report{
        display: none;
        &.show-link{ display: block }
        margin-top: 15px;
    }

    a.sale-report-link{
        text-decoration: underline;
        color: #1D75A1;
    }
    div.sale-report-container{
        margin-top: 15px;
    }
}

i#search{
    margin-top: 5px;
    border: none;
    color: $main-theme;
    cursor: pointer;
    display: inline-block;
}

.btn-transparent{
    background-color: transparent;
    color: white;
    border-color: white;
    &:hover{
        color: $light-blue;
        border-color: $light-blue;
    }
}

.btn-link{
    background-color: transparent;
    color: $blue;
    border: none;
    &:hover{
        color: $main-theme;
        text-decoration: underline;
    }
    &.red{
        color: tomato;
    }
}
.btn.btn-primary.inline{
    display: inline-block;
}

button.inline{
    display: inline-block;
    border: none;
    color: tomato;
    font-size: 15px;
    font-weight: 900;
    margin-left: 1.5em;
    &:hover{ background: tomato; color: white }
}

.btn-setting{
    border-radius: 50%;
    border: none;
    color: $main-theme
}

.btn.btn-edit{
    border: none;
    font-size: 13px;
    color: $blue;
    &:hover{ color: $main-theme ; text-decoration: underline }
}