.centered { 
    margin-left: 48%;
    display: none;
    z-index: 9999;
    &.show{ 
        display: block;
        i.fa-spinner{
            color: #1D75A1;
            
        } 
    }
    
}

#sales-chart{
    &.blurry{
        opacity:0.5;
    }
}


