.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 11px solid #E75649; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1.5s linear infinite;
}

