.no-more-tables{
    max-width: 100%;
    overflow-x: auto;
    tr.animated-row{ animation: fadeEffect 1s; /* Fading effect takes 1 second */ }
    ul { margin-top: 2em }
    li{
        list-style: none;
        a.see-more-table{
            cursor: pointer;
            margin-left: 45%;
            font-weight: 900;
            color: tomato;
            text-decoration: none;
        }
    
    }
    td.branch{
        &.fine{ color: #8DB600 }
        &.fail{ color: tomato }
    } 
    tr.highlight{ font-weight: 900 }
    td.align-right{
        text-align: right;
    }
    td.roles{ font-style: bold; text-align: center; }
    td.align-center{ text-align: center }
    tr.total-amount{ font-weight: 900; background-color: grey; font-size: 14px }
    a.view-more{
        font-weight: 900;
        color: tomato;
    }
    td.category{
        background: $light-blue;
    }
    td.subcategory{
        background: lighten($light-blue, 15%);
    }
    td.total-overall{
        background: $main-theme;
        color: white
    }
}
.gap-top15{
    margin-top: 5%;
}

#sales-chart { animation: fadeEffect 1s; }