.no-more-tables{
    max-width: 100%;
    overflow-x: auto;
    tr.animated-row{ animation: fadeEffect 1s; /* Fading effect takes 1 second */ }
    ul { margin-top: 2em }
    li{
        list-style: none;
        a.see-more-table{
            cursor: pointer;
            margin-left: 45%;
            font-weight: 900;
            color: tomato;
            text-decoration: none;
        }
    
    }
    td.branch{
        &.fine{ color: #8DB600 }
        &.fail{ color: tomato }
    } 
    tr.highlight{ font-weight: 900 }
    td.align-right{
        text-align: right;
    }
    td.align-center{ text-align: center }
}
.gap-top15{
    margin-top: 5%;
}

#sales-chart { animation: fadeEffect 1s; }