div.tab, div.toggle {
    overflow: hidden;
    border: none;
    background-color: transparent;
    button{
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        &:hover{
            background-color: lighten(#10374D, 20%);
            color: white;
            transition: 0.5s;
        }
        &.active{
            background-color: #10374D;
            color: white;
        }
    }
}

/* Style the tab content */
.tabcontent, .togglecontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
    display: none;
    padding: 6px 12px;
    border: none;
    border-top: none;
}