$blue: #1D75A1;
$twitter-blue: lighten(#10374D, 25%);
$white: #ffff;
$light-blue: #86D9FF;
$main-theme: lighten(#10374D, 5%);
$font-black: #202122;
$font-grey: #494949;
$background: #FFF7E8;
$current_tab: #2E2E2E;
$text-color: #F3FFFE;
$gray-medium-light: #eaeaea;
$main-color: #002435;
$true: #A3FE88;
$false: tomato;
$radius: 3px;
$gray-medium-light: #eaeaea;
$alert: 9999;
$round: 50%;
$secondary-color: #184e70;


$round: 50%;