@import "style";
@import "react-select";
@import "chosen.min";
@import "font-icons";
@import "daterangepicker-bs3";
@import "bootstrap-datepicker3";
@import "animate";
@import "webfont";
@import "partials/keyframes";
@import "partials/variables";
@import "partials/mixins";
@import "navigation/navs";
@import "navigation/admin_nav";
@import "module/search";
@import "module/table";
@import "module/button";
@import "module/tabs";
@import "module/charts";
@import "module/loader";
@import "module/inputs";
@import "module/panels";
@import "module/activity_panel";
@import "module/avatar";
@import "module/card";
@import "module/fontawesome";
@import "calendar";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);



html.turbolinks-progress-bar::before {
  background-color: #558B2F !important;
  height: 5px !important;
}

.ica-primary-thead {
	background: #EEE;
  text-align: center !important;
}

.tab-space {
	background-color: #558B2F !important;
	margin-left:100em !important;
}
.gap{ margin-right: 2em }

.gap05{ margin-right: 0.5em }
span.gap1{ margin-right: 1em }

p#indicator{
  margin-top: 1.5em;
  margin-bottom: -2em;
}
.header-avatar.img-circle.with-gap { margin-left: 5px }
