@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import "chosen.min";
@import "style";
@import "font-icons";
@import "daterangepicker-bs3";
@import "bootstrap-datepicker3";
@import "animate";
@import "webfont";
@import "jquery-ui";
@import "navigation/navs";
@import "module/search";
@import "module/table";
@import "module/keyframes";
@import "module/button";
@import "module/tabs";
@import "module/charts";
@import "module/loader";
@import "module/inputs";
@import "module/panels";

html.turbolinks-progress-bar::before {
  background-color: #558B2F !important;
  height: 5px !important;
}

.ica-primary-thead {
	background: #EEE;
  text-align: center !important;
}

.tab-space {
	background-color: #558B2F !important;
	margin-left:100em !important;
}
.gap{ margin-right: 2em }

.gap05{ margin-right: 0.5em }

p#indicator{
  margin-top: 1.5em;
  margin-bottom: -2em;
}
