@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('/fonts/307AD0_2_0.eot');
    src: url('./fonts/307AD0_2_0.eot?#iefix') format('embedded-opentype'), url('/fonts/307AD0_2_0.woff2') format('woff2'), url('/fonts/307AD0_2_0.woff') format('woff'), url('/fonts/307AD0_2_0.ttf') format('truetype');
}
@font-face {
    font-family: 'ProximaNova-Light';
    src: url('/fonts/307AD0_5_0.eot');
    src: url('/fonts/307AD0_5_0.eot?#iefix') format('embedded-opentype'), url('/fonts/307AD0_5_0.woff2') format('woff2'), url('/fonts/307AD0_5_0.woff') format('woff'), url('/fonts/307AD0_5_0.ttf') format('truetype');
}
@font-face {
    font-family: 'ProximaNova-Medium';
    src: url('/fonts/307AD0_8_0.eot');
    src: url('/fonts/307AD0_8_0.eot?#iefix') format('embedded-opentype'), url('/fonts/307AD0_8_0.woff2') format('woff2'), url('/fonts/307AD0_8_0.woff') format('woff'), url('/fonts/307AD0_8_0.ttf') format('truetype');
}
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('/fonts/307AD0_B_0.eot');
    src: url('/fonts/307AD0_B_0.eot?#iefix') format('embedded-opentype'), url('/fonts/307AD0_B_0.woff2') format('woff2'), url('/fonts/307AD0_B_0.woff') format('woff'), url('/fonts/307AD0_B_0.ttf') format('truetype');
}
