<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width">

  <title>Reset Password</title>
  <style>
  .body-wrap,body{background-color:#f0f0f0}.content,.content-wrap{padding:20px}.aligncenter,.btn-primary{text-align:center}*{margin:0;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:13px;color:#5A5A5A}img{max-width:100%}body{-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;width:100%!important;height:100%;line-height:1.6em}.logo-size,.status .status-cell{height:50px}table td{vertical-align:top}.body-wrap{width:100%}.container{display:block!important;max-width:600px!important;margin:0 auto!important;clear:both!important}.clear,.footer{clear:both}.content{max-width:600px;margin:0 auto;display:block}.main{background-color:#fff;border-radius:2px}.content-block{padding:0 0 20px}.header{width:100%;margin-bottom:20px}.footer{width:100%;color:#999;padding:20px}.footer a,.footer p,.footer td{color:#999;font-size:12px}h1,h2,h3{font-family:"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;color:#444;margin:20px 0 0;line-height:1.2em;font-weight:400}h1{font-size:32px;font-weight:500}h2{font-size:24px}h3{font-size:18px}h4{font-size:14px;font-weight:600}ol,p,ul{margin-bottom:10px;font-weight:400}ol li,p li,ul li{margin-left:5px;list-style-position:inside}a{color:#348eda;text-decoration:underline}.alert a,.btn-primary{text-decoration:none}.btn-primary{color:#FFF;font-size:12px;background-color:#E75649;border:solid #E75649;border-width:10px 20px;line-height:2em;font-weight:700;cursor:pointer;display:inline-block;border-radius:2px;text-transform:uppercase}.alert,.alert a{font-weight:500;font-size:16px;color:#fff}.divider{border-top:1px solid #eee}.last{margin-bottom:0}.first{margin-top:0}.alignright{text-align:right}.alignleft{text-align:left}.radius-top-left{border-radius:2px 0 0}.radius-top-right{border-radius:0 2px 0 0}.alert{padding:20px;text-align:center;border-radius:2px 2px 0 0}.alert.alert-warning{background-color:#ffc65d}.alert.alert-bad{background-color:#d96557}.alert.alert-good{background-color:#2ecc71}.invoice{margin:40px auto;text-align:left;width:80%}.invoice td{padding:5px 0}.invoice .invoice-items{width:100%}.invoice .invoice-items td{border-top:#eee 1px solid}.invoice .invoice-items .total td{border-top:2px solid #333;border-bottom:2px solid #333;font-weight:700}.status{border-collapse:collapse}.status .status-cell.active,.status .status-cell.success{height:65px;vertical-align:middle}.status .status-cell.success{background:#2ecc71;color:#fff;border-right:1px solid #45D080}.status .status-cell.active{background:#fff;width:135px}.status .status-image{vertical-align:text-bottom}.status .white{color:#fff}@media only screen and (max-width:640px){.container,.content,body{padding:0!important}.container,.invoice{width:100%!important}h1,h2,h3,h4{font-weight:800!important;margin:20px 0 5px!important}h1{font-size:22px!important}h2{font-size:18px!important}h3{font-size:16px!important}.content-wrap{padding:10px!important}}
  </style>

  <body>
    <table class="body-wrap">
      <tbody>
        <tr>
          <td></td>
          <td class="container" width="600">
            <div class="content">
              <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope="" itemtype="http://schema.org/ConfirmAction">
                <tbody>
                  <tr>
                    <td class="content-wrap">
                      <table width="100%" cellpadding="0" cellspacing="0">
                        <tbody>
                          <tr>
                            <td class="aligncenter content-block">
                              <h1>Reset Password</h1>
                            </td>
                          </tr>
                          <tr>
                            <td class="aligncenter content-block">
                              Hey <strong>Username</strong>,
                            </td>
                          </tr>
                          <tr>
                            <td class="aligncenter content-block">
                              We heard you need a password reset.<br>Click the link below and you'll be redirected to a secure site from<br> which you can set a new password.
                            </td>
                          </tr>
                          <tr>
                            <td class="aligncenter content-block">
                              <!-- <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), class:"btn-primary" %> -->
                              <a href="#!" class="btn-primary">Confirm to reset my password</a>
                            </td>
                          </tr>
                          <tr>
                            <td class="aligncenter content-block divider">
                              <p style="padding-top:15px">
                                If you remembered your password, you can ignore this<br> and we'll forget this ever happened
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="footer">
                <table width="100%">
                  <tbody>
                    <tr>
                      <td class="aligncenter content-block">Have a question? Contact us: <a href="mailto:">support@restobot.com</a><br>
                      1401 Robinsons Equitable Tower, ADB Ave., Cor Poveda Rd., Ortigaas Center, Pasig 1605</td>
                    </tr>
                    <tr>
                      <td class="aligncenter content-block"><img src="./assets/logo.png" class="logo-size"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </body>

</html>
