li.active-link{
    background-color: #333;
    a { color: #fff;
        &:hover{
            background-color: transparent;
            color: #fff;
        }
    }
    &:hover{
        background-color: #E75649;
    }
}