- content_for :title, "Restobot | Sales"
.collapse#show-search class="#{ 'in' if params[:q].present? }"
  .panel
    .panel-body
      = search_form_for @q do |f|
        .row
          .col-xs-12.col-lg-6
            = f.label :branch_id_eq, "Branch"
            = f.select :branch_id_eq, current_brand.branches.pluck(:name,:id), { include_blank: "Select Branch" }, class: "chosen", data: { placeholder: "Search" }, style: "width: 100%; display: none;"
          .col-xs-12.col-lg-6
            = f.label :sale_date_eq, "Sale Date"
            - if params[:q] && params[:q][:sale_date_eq]
              = f.text_field :sale_date_eq, class: "form-control", placeholder: "Select date", data: { provide: "datepicker" }, value: params[:q][:sale_date_eq].to_date.strftime("%m/%d/%Y")
            - else
              = f.text_field :sale_date_eq, class: "form-control", placeholder: "Select date", data: { provide: "datepicker" }
        .row.mt10
          .col-xs-12
            -if @q
              .pull-left
                = link_to 'Back', sales_path, class: 'btn btn-back'
            .pull-right
              button.btn.btn-primary data-tt="tooltip" data-placement="top" data-original-title="Search"
                | Search
.panel
    .panel-heading.border Daily Sales Report
    .panel-body
        .pull-right
            h4 Sales Search <button class="reset" data-tt="tooltip" id="reset" data-original-title="Reset"><i class="fa fa-retweet" aria-hidden="true" id="reset-btn"></i></button>
            /= react_component 'SalesSearch'
            = form_tag sales_path, method: :get do
                .col-xs-12.col-lg-6       
                    = text_field_tag :date_from, nil, id: 'from', placeholder: "Select date"
                .col-xs-12.col-lg-6                    
                    = text_field_tag :date_to, nil, id: 'to', placeholder: "Select date"

        h4 Sales for all Branches
        h5 id="sales-label" Sales for current week: ( #{Date.today.at_beginning_of_week(start_day = :sunday).strftime("%a, %b %d") } - #{Date.today.at_end_of_week(end_day = :sunday).strftime("%a, %b %d") } )
        h4 id='average-sales'
        /= react_component 'SalesSearch'
        /div id="chart"
        = line_chart daily_sales_charts_path, id: 'sales-chart'
        
        br

            .no-more-tables
                table.table.table-bordered.table-striped.mb0 data-sortable="true" id='summary'
                    thead
                        tr.bg-thead
                            th width="310" Branch Name
                            th width="300" Daily Average Sales
                            th id='average-per-date' width="300" Average Sales Per Date Range (Current Week)
                    tbody
                        - @branches.map do |branch|
                            tr 
                                td.branch-sample branch="#{branch.name.remove("'")}" data-title="Name" = branch.name
                                td data-title="Daily Average Sales" = branch.sales.invalid_sales? ? branch.daily_average_sales : to_peso(branch.daily_average_sales)
                                td.branch id="#{branch.name.downcase.reverse.gsub(/[' ]/, '')}" data-title="Average Based From Date Range" 
        
        br
        
        .panel-heading.border Branches
        .panel-body
        
        .tab
            - @branches.map do |branch|
                button.tablinks onclick="openBranch(event, '#{branch.name.remove("'")}', 'chart-toggle-#{branch.name.remove("'")}')" #{branch.name}

        - @branches.map do |branch|   
            .tabcontent id="#{branch.name.remove("'")}"

                .pull-right
                    .toggle
                        button.togglelinks id="chart-toggle-#{branch.name.remove("'")}" onclick="toggleView(event, 'chart-view-#{branch.name.remove("'")}')" 
                            i.fa.fa-line-chart aria-hidden="true"
                        button.togglelinks onclick="toggleView(event, 'table-view-#{branch.name.remove("'")}')" 
                            i.fa.fa-table aria-hidden="true"
                .row
                    .togglecontent id="chart-view-#{branch.name.remove("'")}"
                        h5 Chart View for #{branch.name}'s Sales
                        h5 #{Date.today.at_beginning_of_week(start_day = :sunday).strftime("%a, %b %d") } - #{Date.today.at_end_of_week(end_day = :sunday).strftime("%a, %b %d") }
                        = area_chart sales_per_branch_charts_path(br_id: branch, start: Date.today.at_beginning_of_week(start_day = :sunday).strftime, end: Date.today.at_end_of_week(end_day = :sunday).strftime), label: "Total Sales"

                .row
                    .togglecontent id="table-view-#{branch.name.remove("'")}"
                        h5 Table View for #{branch.name}'s Sales
                        = react_component('BranchSalesTable', { branch: branch.id } )


javascript:
    var tablinks = document.getElementsByClassName("tablinks");
    tablinks[0].click();
    
    $.ajax({
        url: '/charts/get_average',
        method: 'GET',
        success: (data) => {
            $.each(data.branches, function(i, branch){
                $('td#'+branch.reverse).text(branch.average)
                $('td#'+branch.reverse).text(branch.average)
                    if(branch.status === "Good"){
                        $('td#'+branch.reverse).addClass("fine")
                        $('td#'+branch.reverse).removeClass("fail");
                    }else if(branch.status === "Unwell"){
                        $('td#'+branch.reverse).addClass("fail");
                        $('td#'+branch.reverse).removeClass("fine");
                    }else{
                        $('td#'+branch.reverse).removeClass("fine");
                        $('td#'+branch.reverse).removeClass("fail");
                    }
            })
        }
    })    
    
    $('#from').datepicker({}).on('change', function(){
        if($(this).val() === '' || $(this).val() > $('#to').val())
            {   $('#to').val('')    }
        else {
                dfrom = $(this).val();
                dto = $('#to').val();           
                new Chartkick.LineChart('sales-chart', '/charts/daily_sales?from='+dfrom+'&to='+dto, {})
                $.ajax({
                    url: '/charts/get_dates?from='+dfrom+'&to='+dto,
                    method: 'GET',
                    success: (data) => {
                        $('#sales-label').text(data.label);
                        $('#average-per-date').text(data.title);                     
                        $('#reset').show(); 
                    }
                });

                $.ajax({
                    url: '/charts/get_average?from='+dfrom+'&to='+dto,
                    method: 'GET',
                    success: (data) => {
                    $.each(data.branches, function(i, branch){
                            $('td#'+branch.reverse).text(branch.average)
                            if(branch.status === "Good"){
                                $('td#'+branch.reverse).addClass("fine");
                                $('td#'+branch.reverse).removeClass("fail");
                            }else if(branch.status === "Unwell"){
                                $('td#'+branch.reverse).addClass("fail");
                                $('td#'+branch.reverse).removeClass("fine");
                            }else{
                                $('td#'+branch.reverse).removeClass("fine");
                                $('td#'+branch.reverse).removeClass("fail");
                            }
                        })
                    }
                })
        }
    });

    $('#to').datepicker({}).on('change',function(){

        if($(this).val() === '' || $('#from').val() === '' || $(this).val() < $('#from').val())
            { 
                alert("Please make sure your 'From' field has value and less than the other.")
                $(this).val('');
            }
        else {    
            dfrom = $('#from').val();
            dto = $(this).val();
            name = $('.branch').text()           
            new Chartkick.LineChart('sales-chart', '/charts/daily_sales?from='+dfrom+'&to='+dto, {})                                                       
            $.ajax({
                url: '/charts/get_dates?from='+dfrom+'&to='+dto,
                method: 'GET',
                success: (data) => {
                     $('#sales-label').text(data.label);
                     $('#average-per-date').text(data.title);                     
                     $('#reset').show(); 
                }
            });
            
            $.ajax({
                url: '/charts/get_average?from='+dfrom+'&to='+dto,
                method: 'GET',
                success: (data) => {
                   $.each(data.branches, function(i, branch){
                        $('td#'+branch.reverse).text(branch.average)
                        if(branch.status === "Good"){
                            $('td#'+branch.reverse).addClass("fine");
                            $('td#'+branch.reverse).removeClass("fail");
                        }else if(branch.status === "Unwell"){
                            $('td#'+branch.reverse).addClass("fail");
                            $('td#'+branch.reverse).removeClass("fine");
                        }else{
                            $('td#'+branch.reverse).removeClass("fine");
                            $('td#'+branch.reverse).removeClass("fail");
                        }
                    })
                }
            })
        }        
           
    });

    $('#reset').on('click',function(){
        new Chartkick.LineChart('sales-chart', '#{daily_sales_charts_path}', {})       
        $('#sales-label').text('#{Date.today.at_beginning_of_week(start_day = :sunday).strftime("%a, %b %d") } - #{Date.today.at_end_of_week(end_day = :sunday).strftime("%a, %b %d") }')
        $('#average-per-date').text('Average Sales Per Date Range (Current Week)')
        $('#reset').hide();
        $('#to').val('');
        $('#from').val(''); 
        $.ajax({
            url: '/charts/get_average',
            method: 'GET',
            success: (data) => {
            $.each(data.branches, function(i, branch){
                    $('td#'+branch.reverse).text(branch.average)
                    if(branch.status === "Good"){
                        $('td#'+branch.reverse).addClass("fine");
                        $('td#'+branch.reverse).removeClass("fail");
                    }else if(branch.status === "Unwell"){
                        $('td#'+branch.reverse).addClass("fail");
                        $('td#'+branch.reverse).removeClass("fine");
                    }else{
                        $('td#'+branch.reverse).removeClass("fine");
                        $('td#'+branch.reverse).removeClass("fail");
                    }
                })
            }
        })
    })

    



    