- content_for :title, "Restobot | Invoice Entry Report"
- branches = current_client.on_free_trial? ? current_brand.branches : current_brand.subscribed_branches


= react_component "InvoiceEntryReport", { branchAdmin: branch_admin? }

= render "partials/modal"
/.panel
/	.panel-body
/		= form_for :invoice, url: invoice_entry_report_path, method: 'get', remote: true do |f|
/			.row
/				.col-xs-12.col-lg-4
/					label Branch
/					= f.select :supplier, branches.pluck(:name, :id), { include_blank: "Select Branch" }, class: "form-control", data: { placeholder: "Select Branch" }	
/				.col-xs-12.col-lg-4
/					label Suppliers
/					= f.select :supplier, @suppliers.pluck(:name, :id), { include_blank: "Select Supplier" }, class: "form-control", data: { placeholder: "Select Supplier" }	
/
/				.col-xs-12.col-lg-4
/					label Date
/					= f.text_field :date_range, class: 'form-control drp',  placeholder: "mm/dd/yyyy"
/			.row.mt10
/				.col-xs-12
/					.pull-right
/						= f.submit "Search", class: "btn btn-primary", id: "search-btn", data: { tt: "tooltip", placement: "top", "original-title" => "Search", "loading-text" => "Searching..." }
						
/.panel
/	.panel-heading.border.pb45
/		.pull-left.mt7 Invoice Entry Report
/	.panel-body
/		- if current_brand.purchases.empty?
/			.alert.alert-info role="alert"
/				.row
/					.col-xs-1.text-right
/						i.icon-glyph-73.f25
/					.col-xs-11
/						| Oops! There seems to be no records here. To receive your invoice entry reports:<br>Go to&nbsp;
/						b Data Entry > Purchases > Create Purchase
/		- else
/			.no-more-tables
/				table.table.table-bordered.mb0
/					thead
/						tr.bg-thead
/							th.text-center width="120" Invoice No.
/							th.text-center width="130" Invoice Date
/							th.text-center Branch
/							th.text-center Supplier
/							th.text-center Vat Amount
/							th.text-center Total Amount
/							th.text-center Net Amount
/							th.text-center Entry Date
/							th.text-center Created By
/					tbody#purchases
/						= render partial: "purchases", locals: { purchases: @purchases }
/
/javascript:
/	$('#search-btn').on('click', function () {
 /   var $btn = $(this).button('loading')
  /  // business logic...
    $btn.button('reset')
/ })
