- content_for :title, "Restobot | Price Movement Report"

= react_component "PriceMovementContainer"

/.panel
/	.panel-heading.border Price Movement Report
/	.panel-body
/		.no-more-tables
/			table.table.table-bordered.table-striped.mb0 data-sortable="true"
/				thead
/					tr.bg-thead
/						th Category
/						th Item
/						th Unit
/						th.hidden Prev
/						th.hidden Curr
/						th Price Movement (₱)
/						th Price Movement (%)
/						th Branch
/						th Created By
/						th Entry Date
/				tbody
/					- previous_amount = 0
/					- @purchase_items.each do |purchase_item|
/						- previous_amount == 0 ? previous_amount = 0 : previous_amount
/						tr
/							td data-title="Category" = purchase_item.item.category.name
/							td data-title="Item" = purchase_item.item.name
/							td data-title="Unit" = purchase_item.unit.name
/							td.hidden = previous_amount
/							td.hidden = current_amount = purchase_item.purchase_item_amount.to_f
/							- upper_amount = current_amount - previous_amount
/							td data-title="Price Movement (₱)"
/							 	- if previous_amount.zero?
/									= '-'
/								- elsif previous_amount > current_amount
/									.price-down
/										i.icon-down-dir.mr5
/										|
/										= upper_amount.abs
/								- else
/									.price-up
/										i.icon-up-dir.mr5
/										|
/										= upper_amount
/							- bottom_amount = (current_amount + previous_amount) / 2
/							td data-title="Price Movement (%)" = previous_amount.zero? ? '-' : to_percentage(upper_amount,bottom_amount)
/							td data-title="Branch" = purchase_item.purchase.branch.name
/							td data-title="Created By" = purchase_item.purchase.created_by.full_name
/							td data-title="Date Created" = purchase_item.created_at.strftime("%B %d %Y")
/							- previous_amount = purchase_item.purchase_item_amount.to_f
/
javascript:
	$(document).ready(function(){
		$("#category_id").on('change', function(){
			$.ajax({
				url: "#{update_item_path}",
				data: {
					category_id: $("#category_id").val()
				}
			});
		});
	});
/ = previous_amount.zero? ? '-' : price_movement(previous_amount,current_amount)
