= wicked_pdf_stylesheet_link_tag "application"
h2 Purchase Summary Report
table.table.table-bordered.table-striped.mb0 width="100%"
	thead
		tr.bg-head
			th RANK
			th BRANCH
			th ITEM
			th UNIT
			th QUANTITY
			th UNIT COST
			th NET AMOUNT
	tbody
		- @rank_number = rank_number(params[:page].to_i)
		- @purchase_items.each do |pi|
			tr
				td = @rank_number
				td = pi[:branch].to_s
				td = pi[:name].to_s
				td = pi[:unit].to_s
				td = number_with_precision(pi[:quantity], precision: 2)
				td = to_peso(pi[:cost])
				td = to_peso(pi[:net_amount])
			- @rank_number += 1